* {
  color: #fff;
  background: #86B1EE;
  background-attachment: fixed;
  font-family: "poppins", sans-serif; 
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 5em;
  text-align: center;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
    0px -4px 10px rgba(255, 255, 255, 0.3);
  padding: 20px;
}

article, section, div {
  display: grid;
  align-items: center;
  margin: 10px;
  padding: 20px;
  position: relative;
}

section h2, article h2 {
  font-size: 50px;
  text-decoration: underline;
}

.summary {
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p, li {
  font-size: 18px;
}

ul, ol {
  list-style: none;
} 

.edu {
  display: grid;
  justify-items: start;
  align-items: center;
}

span.it{
  font-style: italic;
}


/* 
.body {
  font-size: 2rem;
  font-family: "poppins", sans-serif;
}

.first {
  position: relative;
  top: 200px;
  left: -150px;
}

.second {
  position: relative;
  top: 130px;
  left: -150px;
}



.job-experience {
  position: relative;
  left: 500px;
  bottom: 100px;
  font-family: "poppins", sans-serif;
  font-size: 3rem;
  display: inline-block;
}

.experience {
  position: relative;
  bottom: 100px;
  left: 700px;
}

.hobbies {
  position: relative;
  left: 500px;
}

.part-three {
  display: flex;
  justify-content: center;
  position: relative;
  top: 350px;
  left: -160px;
}

.other {
  position: relative;
  left: 550px;
  width: 400px;
  top: -50px;
}

.goals {
  width: 900px;
}

.part-three > .problem {
  position: relative;
  top: 50px;
  left: -60px;
}

.part-three > .goals {
  position: relative;
  top: -100px;
  left: 950px;
}

.improve {
  position: relative;
  top: 50px;
}

.part-four > h2 {
  font-family: "poppins", sans-serif;
  font-size: 3rem;
  position: relative;
  top: 470px;
  left: 100px;
}

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: "poppins", sans-serif;
  font-size: 2rem;
  width: 70%;
  margin: 0 auto;
  position: relative;
  top: 500px;
  left: -350px;
}

label {
  display: block;
  margin-bottom: 1rem;
}

input[type="text"],
textarea,
select {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: "poppins", sans-serif;
}

textarea {
  height: 150px;
}

input[type="submit"] {
  background-color: #247ba0;
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 30px;
  font-family: "poppins", sans-serif;
}

input[type="submit"]:hover {
  background-color: #1b556e;
}

option {
  font-size: 1.6rem;
}

a {
  position: relative;
  left: 105px;
  top: 550px;
  font-size: 2rem;
  font-family: "poppins", sans-serif;
  color: whitesmoke;
}

/* Responsive styles optimized specifically for phones */
/* @media (max-width: 1200px) {
  .part-one {
    flex-direction: column;
  }

  h1 {
    position: relative;
    left: 600px;
  }

  .summary {
    position: relative;
    top: -30px;
    left: 600px;
  }

  .first {
    position: relative;
    top: -50px;
    left: 600px;
    width: 900px;
  }

  .education {
    position: relative;
    top: -50px;
    left: 900px;
    width: 900px;
  }

  .second {
    position: relative;
    top: -50px;
    left: 600px;
    width: 900px;
  }

  .body .part-two {
    flex-direction: column;
  }

  .experience {
    position: relative;
    top: -350px;
    left: 2000px;
    text-align: center;
  }

  .one > ul {
    position: relative;
    top: -150px;
    left: 1300px;
    width: 900px;
    display: inline-block;
    white-space: nowrap;
    text-align: center;
  }
  .hobbies {
    position: relative;
    top: 950px;
    left: 800px;
  }
  .two > ul {
    position: relative;
    top: 1100px;
    left: 470px;
    white-space: nowrap;
    text-align: center;
  }

  .two ul li {
    margin-bottom: -50px;
  }
  .part-three {
    flex-direction: column;
  }

  .other {
    position: relative;
    top: 600px;
    left: 750px;
  }
  .part-three > .problem {
    position: relative;
    top: 600px;
    left: 600px;
    white-space: nowrap;
    margin-bottom: -50px;
  }
  .problem ul li {
    margin-bottom: 50px;
  }

  .part-three > .goals {
    position: relative;
    top: 600px;
    left: 670px;
  }
  .improve {
    position: relative;
    top: 600px;
    left: 600px;
    width: 700px;
    display: block;
  }

  .part-four {
    flex-direction: column;
  }
  .title > h2 {
    position: relative;
    top: 950px;
    left: 600px;
  }
  form {
    position: relative;
    top: 950px;
    left: 400px;
    width: 700px;
  }
  input[type="submit"] {
    margin-bottom: 200px;
  }
} */ 